<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MuSearcher</title>
	<link rel="stylesheet" href="../stylesheets/style.css">
	<link rel="stylesheet" href="../stylesheets/search.css">
    <link rel="stylesheet" href="../stylesheets/top.css">
	<link rel="stylesheet" href="../stylesheets/star.css">
	
	<!-- <script type="text/javascript" src="getmv.js"></script> -->
</head>

<body>
	<header>
		<div class="container">
			<div class="logo">
				<a class="logo-item" href="/">
					<h2>MuSearcher</h2>
				</a>
			</div>
			<div class="avatar">
                <div class="uploadtop" onclick="jumptoupload()"><p class="inupload">Upload songs</p></div>
				<div class="uploadtop" onclick="showStar()"><p class="inupload">My Collection</p></div>
				<div class="uploadtop-name"><p class="inupload-name" id="username"></p></div>
				<a href="../sign-in">
					<img class="avatar-img"  src="../images/avatar-01.jpg">
				</a>
			</div>
		</div>
	</header>
	<div class="star" id="star">
		<ul class="star-ul">
		  <li class="star-li">
			<div class="star-li-left">
			  <img src="../images/china.png" class="star-img">
			  <span class="star-name">Song name</span>
			</div>
			<span class="star-artist">Singer</span>
		  </li>
		</ul>
	  </div>
	<header1>
		<div class="back" href="#">
			<a href="/"><img src="../images/返回.svg"></a>
		</div>
	</header1>

    <div>
		<div class="top-info">
			<div class="top-details">
				<img class="top-img" id="im">
				<div class="top-text"> 
					<span class="top-text1">Public song list</span>
					<span class="top-text2" id="top-text">Top 50 in the world</span>
					<span class="top-text3">A daily update of the world's current hottest tracks。</span>
					<!-- <span class="top-text4">10000000次点赞</span> -->
				</div>
			</div>
		</div>
	</div>

	<div class="search">
		<section>
			<!-- <div class="music-header">
				<div class="song-fixed"><span>音乐标题</span></div>
				<div class="singer-fixed"><span>歌手</span></div>
				<div class="time-fixed"><span>时长</span></div>
			</div> -->
		</section>

		<div class="search-list" id="search-list">

		</div>


	</div>

    <div class="fff"></div>
	<footer>
		<div class="btn-audio">
			<div class="btn-cover">
				<img id="play-image" src="/images/cover.jpg">
			</div>
			<div style="margin-left:6px">
				<div id="play-song" class="btn-name">Try searching~</div>
				<div id="play-singer" class="btn-singer"></div>
			</div>
			<div class="audio" >
				<audio controls="controls" id="audio">
					<source id="play-source" src="" type="audio/mp3" />
				</audio>
			</div>
			<div class="footer-star" onclick="clicktostar()"><img class="star-svg" src="/images/star.svg"></div>
		</div>
	</footer>

    

	<script type="text/template" id="tpl">
		<section class="search-section">
			<div class="search-item">
                <div class="music-rank"><span>{{rank}}</span></div>
				<img class="search-music-img" src="{{songImg}}"  id={{idddd}} onclick="clicktolyric(this)">
				<div class="music-detail music-detail-song" id={{iddddd}} onclick="clicktolyric(this)"><span>{{songName}}</span></div>
				<div class="music-play-button" id={{id}} onclick="clicktoplay(this)"><img src="/images/play.svg"></div>
				<div class="music-detail music-detail-singer"><span>{{artist}}</span></div>
				<!-- <div class="music-detail music-time" id={{idd}} onclick="clicktostar(this)"><span>收藏</span></div> -->
				<!-- <div class="music-detail music-time" id={{idd}} onclick="clicktodownload(this)"><span>{{songTime}}</span></div> -->
                <div class="music-detail music-time" id={{iddd}} onclick="clicktosearchmv(this)"><img class="mv-svg" src="/images/mv.svg"></div>
            </div>
		</section>
	</script>

	<script type="text/template" id="star-element">
		<li class="star-li" id={{id}} onclick="clicktoplay_star(this)">
		  <div class="star-li-left">
			<img src="{{img}}" class="star-img">
			<span class="star-name">{{song}}</span>
		  </div>
		  <span class="star-artist">{{artist}}</span>
		</li>
	  </script>
	<script src="https://code.jquery.com/jquery-3.6.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../javascripts/alluse.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">

		let music_list = [];
		let buttons = [];
		let play_image = $("#play_image")
		let play_song = $("#play_song")
		let play_singer = $("#play_singer")
		let play_source = $("#play_source")
		let music = $("#music");

		setHeaderUsername()
        function jumptoupload() {
            document.location.href = "../upload";
        }

        if('<%=num%>' == '1') {
            document.getElementById("im").src = "../images/global.png"
            document.getElementById("top-text").innerHTML = "Hot top 50"
        }
        else if('<%=num%>' == '2') {
            document.getElementById("im").src = "../images/china.png"
            document.getElementById("top-text").innerHTML = "Top 50 in the mainland"
        }
        else if('<%=num%>' == '3') {
            document.getElementById("im").src = "../images/english.png"
            document.getElementById("top-text").innerHTML = "Top 50 in Europe and America"
        }
        else if('<%=num%>' == '4') {
            document.getElementById("im").src = "../images/japan.png"
            document.getElementById("top-text").innerHTML = "Top 50 in Japan"
        }

		

		$.ajax({  //链接路由
            type: "POST",
            url: addr+"/rankinglist/" + '<%=num%>',

            success: res => {
                console.log(res); // 服务器返回的song数据
                music_list = res;
                let tpl = document.getElementById("tpl").innerHTML; //每条搜索结果的html
                let num = 0;
                let songhtml = res.reduce((pre, cur) => {

                    let result = tpl
						.replace("{{iddddd}}", num)
						.replace("{{idddd}}", num)
                        .replace("{{iddd}}", num)
                        .replace("{{idd}}", num)
                        .replace("{{id}}", num++)
                        .replace("{{rank}}", num)
                        .replace("{{songName}}", cur.name)
                        .replace("{{songImg}}", cur.pic)
                        .replace("{{artist}}", cur.artist)
                        .replace("{{songTime}}", '下载')
                        // .replace("{{download}}", cur.url)
                    return pre + result;
                }, "");
                document.querySelector(".search-list").innerHTML = songhtml;
                
            },

            error: err => {
                console.log(err);
            }

        })
		
		var old_playInfo = localStorage.getItem("play-info")

		if(old_playInfo != "null") {
			let oldplayInfo = JSON.parse(old_playInfo);
			play(oldplayInfo);
		}

        function clicktodownload(obj) {
            let i = Number(obj.id)
            let data = {
                searchMusic: music_list[i].name + "_" + music_list[i].artist
            }

            $.ajax({
				type:"POST",
				url:addr+"/searchandplay",
				data: data,
				success:res=>{
                    // document.getElementById("play-source").setAttribute("src", res.url)
                    const link = document.createElement('a')
                    link.setAttribute('download', 'sss')
                    link.setAttribute('href', res.url) //设置下载文件的url地址
                    //link.setAttribute('download', 'download'); //用于设置下载文件的文件名
                    link.click()
                    link.remove();
					console.log(res)
				},
				error:err=>{
					console.log(err)
				}
			})
        }

		async function clicktoplay(obj) {
			// console.log(obj.id);
			let id = obj.id;
			let i = Number(id);
			console.log("i:", i)
			// console.log(music_list[i].pic);
            let data = {
                searchMusic: music_list[i].name + "_" + music_list[i].artist
            }

           	await $.ajax({
				type:"POST",
				url:addr+"/searchandplay",
				data: data,
				success:res=>{
					music_list[i].lyric = res.lyric
					music_list[i].url = res.url;
                    document.getElementById("play-source").setAttribute("src", res.url)
                    document.getElementById("audio").load()
					console.log(res)

					let playInfo = {
						"play_image": music_list[i].pic,
						"play_source": music_list[i].url,
						"play_singer": music_list[i].artist,
						"play_song": music_list[i].name,
						"play_lyric": music_list[i].lyric
					};
					localStorage.setItem("play-info", JSON.stringify(playInfo)); //存在localstorage中在页面刷新后也能使用
					updata_listen_info(playInfo);
				},
				error:err=>{
					console.log(err)
				}
			})

			document.getElementById("play-image").setAttribute("src", music_list[i].pic);
			// document.getElementById("play-source").setAttribute("src", music_list[i].url + '?' + new Date().getTime());
			document.getElementById("play-singer").innerHTML = music_list[i].artist;
			document.getElementById("play-song").innerHTML = music_list[i].name;
			// document.getElementById("audio").load();
		}

        function clicktosearchmv(obj) {
            let id = obj.id;
			let i = Number(id);
            localStorage.setItem("mvSearch", music_list[i].name + "_" + music_list[i].artist)
            document.location.href = '../mvlist'
        }

		function clicktolyric(obj) {
			clicktoplay(obj).then(()=>{
				document.location.href = '../lyric'
			})   
		}
	</script>

</body>

</html>
